@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(173, 230, 181);
    }
  }

header{
    background-color:rgb(181, 240, 220);

    height:8rem;
    padding:0 25px;
}

header * {
    display: inline;
    padding: 0px 10px;
    
}

h1{
    text-align: center;
}

.card{
    
    padding: 10% 20% 50% 39% ;
    list-style-type: none;
    box-shadow: aqua;
    color: rgb(45, 119, 116);
    font-size: 25px;
}
#A{
    background-color: rgb(181, 240, 220);
    border-style: ridge;
    border-radius: 50%;
    font-size: 15px;

}

.navbar{
    float: left;
    
}

header li{
    padding: 0px 10px;

    float: right;
    color: rgb(167, 240, 89);
    font-style: oblique;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#zip{
    margin-left: 30%;
    color: rgb(16, 134, 120);
    font-size:xx-large;
    margin-top: 20%;
    font-family: URW Chancery L, cursive;

}


body {
    background-image: url("tested.jpg");
    background-color: rgb(250, 212, 212);

}
#Contactus{
    margin-left: 40%;
    font-size: 15px;
    padding: 0% 50% 0% 0% ;
}
#welcome-section{
    font-family: Snell Roundhand, cursive;
    font-style: italic;
    font-size: 30px;
    color: rgb(150, 49, 49);

}

