@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(173, 230, 181);
    }
  }

header{
    background-color:rgb(181, 240, 220);

    height:8rem;
    padding:0 25px;
}

header * {
    display: inline;
    padding: 0px 10px;
    
}

h1{
    text-align: center;
}

.card{
    padding-left: 20%;
    list-style-type: none;
    box-shadow: aqua;
}

.navbar{
    float: left;
}

header li{
    padding: 0px 10px;

    float: right;
    color: rgb(6, 44, 31);

    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#zip{
    margin-left: 35%;
    color: white;
    font-size: x-large;
    margin-top: 20%;
}


body {
    background-image: url("tested.jpg");
    background-color: rgb(240, 217, 217);
}